$text-color-dark: #313131;
$text-color-light: #F54932;
$text-color-link: #3057A2;

$text-color-btn-light: #FFFFFF;
$text-color-btn-dark: #1F1F1F;

$body-color-bg: #FFFFFF;

$content-width: 1222px;
$mobile-width: 335px;