.chess-info-title {
    display: flex;
    padding: 80px 0 64px;
    @include media-mobile {
        padding: 48px 0 33px;
    }
}

.chess-info-title__text {
    @extend %font-added;
    @include font($size: 3.6rem, $height: 135%);
    margin: 0 0 33.19px;
    text-transform: uppercase;
    color: $text-color-dark;
    &_light {
        color: #F54932;
    }
    @include media-mobile {
        @include font($size: 2.8rem);
        margin: 0px;
    }
}

.chess-info-title__img {
    display: inline-block;
    @include media-mobile {
        display: none;
    }
    &_mobile {
        display: none;
        @include media-mobile {
            display: inline-block;
        }
    }
}

.mobile_block {
    @include media-mobile {
        padding: 24px 0;
    }
}

.chess-info-subtitle {
    display: flex;
    gap: 41px;
    @include media-mobile {
        flex-direction: column;
        gap: 0px;
    }
}

.chess-info-subtitle-content {
    display: flex;
    flex-direction: column;
}

.table-block {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 28px 0 0;
}

.condition-block {
    padding: 15px 15px 15px 0;
    border-bottom: 2px solid #D0D0D0;
    border-right: 2px solid #D0D0D0;
    &_non-border {
        border-bottom: none
    }
}

.condition {
    @extend %font-primary;
    @include font($size: 2rem, $height: 120%);
    color: $text-color-dark;
    opacity: 0.7;
    margin: 0px;
}

.value-block {
    padding: 15px 0 15px 15px;
    border-bottom: 2px solid #D0D0D0;
}

.value {
    @extend %font-primary;
    @include font($size: 2rem, $weight: 600, $height: 120%);
    color: $text-color-dark;
    margin: 0px;
    &_non-border {
        display: flex;
        align-items: center;
        gap: 11px;
        padding-left: 16px;
        border-bottom: none;
    }
}

.chess-info__link {
    @extend %font-primary;
    @include font($size: 2rem, $height: 120%);
    color: $text-color-link;
    text-decoration: none;
    margin: 48px 0 0;
}