.participants {
    padding: 200px 0 0;
}

.participants-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.participants-title__text {
    @extend %font-added;
    @include font($size: 5.4rem);
    text-transform: uppercase;
    color: $text-color-dark;
    margin: 0px;
}

.slider-limitter {
    padding: 60px 0 140px;
    overflow: hidden;
}

.slider {
    display: flex;
    gap: 20px;
}

.participants-slide {
    padding: 0 37px;
}

.participants-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.participants-content__name {
    @extend %font-primary;
    @include font($size: 2.4rem, $weight: 600);
    margin: 28px 0 6px;
    color: $text-color-dark;
}

.participants-content__description {
    @extend %font-primary;
    @include font($size: 2rem);
    margin: 0 0 20px;
    color: $text-color-dark;
    opacity: 0.6;
}