.participants {
    padding: 200px 0 0;
    @include media-mobile {
        padding: 120px 0 0;
    }
}

.participants-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.participants-title__text {
    @extend %font-added;
    @include font($size: 5.4rem);
    text-transform: uppercase;
    color: $text-color-dark;
    margin: 0px;
    @include media-mobile {
        @include font($size: 3.6rem);
    }
}

.slider-limitter {
    padding: 60px 0 140px;
    overflow: hidden;
    @include media-mobile {
        padding: 40px 0 100px;
    }
}

.slider {
    display: flex;
    position: relative;
    left: 0px;
    gap: 20px;
    transition: all ease 1s;
    @include media-mobile {
        gap: 0px;
    }
}

.participants-slide {
    padding: 0 37px;
    @include media-mobile {
        padding: 0px;
    }
}

.participants-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media-mobile {
        width: 335px;
    }
}

.participants-content__name {
    @extend %font-primary;
    @include font($size: 2.4rem, $weight: 600);
    margin: 28px 0 6px;
    color: $text-color-dark;
    @include media-mobile {
        text-align: center;
        white-space: nowrap;
    }
}

.participants-content__description {
    @extend %font-primary;
    @include font($size: 2rem);
    margin: 0 0 20px;
    color: $text-color-dark;
    opacity: 0.6;
    @include media-mobile {
        text-align: center;
        white-space: nowrap;
    }
}