.running-line {
    overflow: hidden;
    padding: 18px 0;
    background: #F54932;
    @include media-mobile {
        padding: 10px 0;
    }
}

.running-line__text {
    @extend %font-added;
    @include font($size: 2.2rem, $height: 110%);
    white-space: nowrap;
    margin: 0px;
    color: #FFFFFF;
    animation: move 20s linear infinite;
    @include media-mobile {
        @include font($size: 1.6rem);
    }
}

@keyframes move {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }