.running-line-limiter {
    width: 100%;
    overflow: hidden;
}

.running-line {
    width: max-content;
    padding: 18px 0;
    background: #F54932;
    @include media-mobile {
        padding: 10px 0;
    }
}

.running-line__text {
    @extend %font-added;
    @include font($size: 2.2rem, $height: 110%);
    margin: 0px;
    color: #FFFFFF;
    @include media-mobile {
        @include font($size: 1.6rem);
    }
}