.header-button-block {
    display: flex;
    gap: 16px;
    @include media-mobile {
        flex-direction: column;
        gap: 8px;
    }
}

.header-button {
    @extend %font-primary;
    @include font($size: 1.6rem, $weight: 500, $height: 130%);
    @extend %transition;
    width: 263px;
    padding: 20px 49px;
    text-align: center;
    border: none;
    border-radius: 66px;
    &_dark{
        background: $text-color-btn-dark;
        color: #FFFFFF;
    }
    &_dark:hover {
        background: #FBCE51;
        color: $text-color-btn-dark;
    }
    &_light {
        background: transparent;
        color: $text-color-btn-dark;
        border: 2px solid $text-color-dark;
        @include media-mobile {
            background: #FFFFFF;
            border: none;
        }
    }
    &_light:hover {
        background: $text-color-btn-dark;
        color: #FFFFFF;
    }
    @include media-mobile {
        width: 100%;
        padding: 18px 40px;
    }
}

.show-more-button {
    @extend %font-primary;
    @include font($size: 1.6rem, $weight: 500);
    padding: 12px;
    background: #FFFFFF;
    color: $text-color-link;
    border-radius: 62px;
    border: 1px solid $text-color-link;
    &:hover {
        @extend %transition;
        background: $text-color-link;
        color: #FFFFFF;
    }
}